@font-face {
  font-family: 'Mukta Malar';
  src:
    url('https://tamiltechguru.github.io/Tamil/Malar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
    url('https://<yourserver>/path/to/font.woff2') format('woff2'),
    url('https://<yourserver>/path/to/font.woff') format('woff'),
/*
